<ul class="d-flex py-2 ps-5 " style="color: rgb(24, 87, 129); list-style:  none; font-weight: 600; background-color: #b1b1b1; height: 3rem;">
    <li class="me-4  text-center" routerLink = 'sidebar2/home'  routerLinkActive="activeLink"  >Currency</li>
    <li class="me-4  text-center " routerLink = 'sidebar2/sidebar'  routerLinkActive="activeLink"  >Settings</li>
    <li class="me-4  text-center"  routerLinkActive="activeLink"  >Dashboard</li>
    <li class="me-4  text-center"  routerLinkActive="activeLink" >Curation</li>
</ul>

<router-outlet></router-outlet>